@model AjaxViewModelRefresh.ViewModels.TelesalesQuoteViewModel

<head>

</head>
<body> 
    <div>
        @Html.LabelFor(t => t.SupplierName)
        @Html.TextBoxFor(t => t.SupplierName)
    </div>
    <div>
        @Html.LabelFor(t => t.TariffName)
        @Html.TextBoxFor(t => t.TariffName)
    </div>
</body>